@font-face {
    font-family: 'Glacial Indifference';
    src: url('fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
        url('fonts/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('fonts/glacialindifference-bold-webfont.woff2') format('woff2'),
        url('fonts/glacialindifference-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

@media print {
    * {
        visibility: hidden;
    }

    header,
    footer {
        height: 0;
        margin: 0 !important;
        padding: 0 !important;
        visibility: hidden;
        position: relative;
        display: none !important;
    }

    .printable * {
        visibility: visible;
    }
}

body {
    font-family: "Glacial Indifference";
    margin: 0;
    background-color: #84A98C;
}

header {
    margin: 10px;
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    background: #EBEBEB;
    box-shadow: 5px 5px #CAD2C5;
    border-radius: 10px;
    /* https://coolors.co/59c3c3-52489c-ebebeb-cad2c5-84a98c */
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: white;
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    #header {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    header {
        position: relative;
    }
}

#details-panel {
    margin: auto;
    width: auto;
}

#subtitle {
    width: 100%;
    display: inline-flex;
    gap: 10px;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

#controls {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 10px;
}

#controls>div {
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border-radius: 10px;
}

.label-text-container {
    width: fit-content;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}

.label-text-container input {
    text-align: center;
    border-radius: 0;
}

.label-text>div {
    overflow: hidden;
    display: flex;
    align-content: space-around;
}

#labelQuantity {
    width: 6ch;
}

#orientation-control>div {
    display: flex;
    width: max-content;
}

#print-button {
    padding: 5px;
    border-radius: 10px;
    display: block;
    height: 100%;
    width: 3rem;
    min-width: 15px;
}

#multiline-input-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#multiline-input-container>div {
    display: flex;
}

#multiline-input {
    font-family: "Glacial Indifference";
    position: relative;
    border-radius: 5px;
}

#multiline-input-submit,
#multiline-input-cancel {
    font-size: larger;
    margin: auto;
    position: relative;
    width: 50%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    break-inside: avoid;
    margin: 10px auto;
    padding: auto;
    border: 2px solid black;
    background: white;
    text-align: center;
    /* overflow: scroll; */
}

.text-container:focus-within {
    margin: 0 auto;
    height: fit-content;
    background-color: #feffb4;
}

.text:focus {
    font-size: 5rem !important;
}

.draggableLabels li.hint {
    border: 2px solid #ffc49a;
    background: #feffb4;
}

.draggableLabels li.active {
    border: 2px solid #ffa5a5;
    background: #ffe7e7;
}

.deleteMode:hover {
    background: #ffa5a5;
    border: 2px solid #FF0000;
}

.parent {
    width: auto;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    padding: 15px;
    background: grey;
    color: white;
    display: inline-block;
}

.text-container {
    width: 100mm;
    height: 22mm;
    /* resize: vertical; */
    border: 2px solid;
}

.landscape {
    width: 143mm;
}

.text {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    display: block;
}